<h1>About Us</h1>
<p>
AustinProBono was founded by Paul Janowitz - CEO and Founder of Sentient Services, LP. Our purpose is simple - to build a tool and community that connects professionals and nonprofits with pro-bono services. The nonprofits in Austin make this city an amazing place to be and operate a business. It is our goal to support them in continuing their mission and helping those in need.
The inaugural group of sponsors include Sentient Services, Austin AdFed, GamePlan Marketing & Events, Watershed 5 Studios, GSD&M, EnviroMedia, Terminal B, Master Web Design and Greenlights for Nonprofit Success. This eclectic group of agencies, IT consultants and do-gooders worked tirelessly between day jobs to make AustinProBono a reality.
AustinProBono is a volunteer project managed by volunteer business and association partners. Contact us if you would like to help: 
<a href=mailto:info@austinprobono.org">info@austinprobono.org</a>
</p>

